@model DegreeName

<form  method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="IdDegree" class="control-label"></label>
        <select asp-for="IdDegree" asp-items="@ViewBag.selectlist" class="form-control" onchange="Test(this)">
            <option value="">Please Select IdDegree</option>
        </select>
        <span asp-validation-for="IdDegree" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DegreeTitle" class="control-label"></label>
        <select asp-for="DegreeTitle"  class="form-control" disabled></select>
        <span asp-validation-for="DegreeTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DegreeName1" class="control-label"></label>
        <input asp-for="DegreeName1" class="form-control" />
        <span asp-validation-for="DegreeName1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

 @section Scripts{
     <script>
         function Test(a){
            var postData = {
                'IdDegree': a.value,
            };
            var items = '';
            $.ajax({
                type: 'Get',
                url: '/Test/addItem/',
                data: postData,
                contentType: "application/json",
                success: function (data) {
                    $('#DegreeTitle').prop('disabled', false);
                   
                    for (var i = 0; i < data.length; i++){
                        items += "<option value = '" + data[i] + "'>" + data[i] + " </option>";
                    }

                    $('#DegreeTitle').html(items);
                },
                
            })
         }
     </script>
 }