@model FruitViewModel

<form method="post">
    <select name="FruitId" asp-items="@ViewBag.data" multiple="multiple">
        <option>Please select</option>
    </select>

    <button type="submit">Submit</button>
</form>

