@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@model TestModel

<form method="post">
    @for(var i=0; i < Model.users.Count; i++)
    {
        @*i configure the index manually*@
        <input name="users[@i].Id" value="@i" type="hidden"/>
        <input name="users[@i].message"/>
        <br />
    }
    <button type="submit">Submit</button>
</form>
