
<form name="CarServ" id="myForm">
            <div>
                <label>CarModel:</label>
                <input type="text" id="model" size="65" name="CarModel" placeholder="Enter Car Model" required>
            </div>
            <div>
                <label>Car Number:</label>
                <input type="text" size="65" id="num" name="CarNumber" placeholder="Enter Car Number" required >
            </div>
            <div>
                <label>Contact number:</label>
                <input type="text" size="65" id="cnum" name="ContactNumber" placeholder="Enter your contact number" required>
            </div>


            <div id="service" class="opt">
                <label>Type of service:</label>
                <input type="radio" name="TypeOfService" id="t1" value="Waterwash"required>
                <label for="t1">Waterwash</label>
                <input type="radio" name="TypeOfService" id="t2" value="Fullservice" required>
                <label for="t1">Fullservice</label>
    
    
            </div>
            <br/>

            <div class="check">
    
                <label>Addons:</label>
                <input type="checkbox"  value="10%off First service visit" id="10%off First service visit">
                <label for="10%off First service visit">10%off First service visit</label>
                <input type="checkbox"  value="10%off Waterwash" id="10%off Waterwash">
                <label for="10%off Waterwash">10%off Waterwash</label>
                <input type="checkbox"  value="Free AC Inspection" id="Free AC Inspection">
                <label for="Free AC Inspection">Free AC Inspection</label>

            </div>  

    
            <div class="dropd">
                <label>Select State:</label>
                    <select class="form-control" name ="SelectState" id="select1">
                        <option value="0" selected="" disabled="">--SELECT--</option>
                        <option value="" selected="selected">Select State</option>
                        <option value="option1">Tamilnadu</option>
                        <option value="option2">Kerala</option>
                        <option value="option3">Karnataka</option>
                        <option value="option4">Maharastra</option>
                    </select>   
            </div>
            
            <div class="dropdcontent">
                <label>Select City:</label>
                    <select class="form-control" name ="SelectCity" id="select2">
                        <option value="option1">Select State</option>
                        <option value="option1">Chennai</option>
                        <option value="option1">Coimbatore</option>
                        <option value="option1">Madurai</option>
                        <option value="option2">Select State</option>
                        <option value="option2">Trivandrum</option>
                        <option value="option2">Kochi</option>
                        <option value="option2">Kollam</option>
                        <option value="option3">Select State</option>
                        <option value="option3">Bangalore</option>
                        <option value="option3">Mysore</option>
                        <option value="option4">Select State</option>
                        <option value="option4">Mumbai</option>
                        <option value="option4">Pune</option>
                  </select>     
            </div>
            <br/>
                    
            <button id="btn" type="submit">Submit</button>
            <input type="reset" value="RESET" onclick="clearreset()" name="reset" />    
        
    
        </form>
        <script src="/js/formtoapi.js"></script>
