<form name="CarServ" id="myForm">
    <div>
        <label>CarModel:</label>
        <input type="text" id="model" size="65" name="CarModel" placeholder="Enter Car Model" required>
    </div>
    <div>
        <label>Car Number:</label>
        <input type="text" size="65" id="num" name="CarNumber" placeholder="Enter Car Number" required>
    </div>
    <div>
        <label>Contact number:</label>
        <input type="text" size="65" id="cnum" name="ContactNumber" placeholder="Enter your contact number" required>
    </div>
    <button type="submit">Submit</button>
    <input type="reset" value="RESET" onclick="clearreset()" name="reset" />
</form>
<table id="formDataTable">
    <thead>
        <tr>
            <th>Car Model</th>
            <th>Car Number</th>
            <th>Contact Number</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="./js/formtoapi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>

    function getFormData() {
        $.ajax({
            url: "http://localhost:5239/api/Forms/get-form-data",
            type: "GET",
            dataType: "json",
            success: function (data) {
                displayFormData(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Error:", errorThrown);
            }
        });
    }

    function displayFormData(data) {
        var tableBody = $("#formDataTable tbody");
        tableBody.empty();
        data.forEach(function (formEntry) {
            var row = "<tr><td>" + formEntry.CarModel + "</td><td>" + formEntry.CarNumber + "</td><td>" + formEntry.ContactNumber + "</td></tr>";
            tableBody.append(row);
        });
    }

    $(document).ready(function () {
        getFormData();
    });

</script>