@model InvRows
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ProdId" class="control-label">Produkti</label>
        @*<select asp-for="InvRows.ProdId" class ="form-control" asp-items="ViewBag.ProdId"></select>*@
        <select asp-for="ProdId" class="form-control"
                style="width:100%;font-size:80%;" id="xprod">
            <option value="">--- Product name ---</option>
            @foreach (var item in Model.PL)
            {
                <option value="@item.ProdId" qty="1"
                        price="@Convert.ToInt32(item.Price)">
                    @item.Prodname
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Qty" class="control-label"></label>
        <input asp-for="Qty" class="form-control" name="Qty" id="xqty" onchange="QTY()" />
        <span asp-validation-for="Qty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" name="Price" id="xPrice" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sum" class="control-label">Shuma</label>
        <input asp-for="Sum" class="form-control" name="Sum" id="xSum" />
        <span asp-validation-for="Sum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<button type="button" onclick="window.location.href='@Url.Action("Index", "Home")';" style="text-decoration: none; color: black;">Configuração</button>

<button type="button" onclick="window.location.href='Views/Demo/MyView/Hello.html';" style="text-decoration: none; color: black;">Configuração</button>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#xprod").change(function () {

            
            var price = $("#xprod option:selected").attr("price");
            $("#xPrice").val(price);

            getSum();
        });

        function QTY() {
            var sum = parseInt($("#xPrice").val()) * parseInt($("#xqty").val());
            $("#xSum").val(sum);
        }

        
        function getSum() {
            var sum = parseInt($("#xPrice").val()) * parseInt($("#xqty").val());
            $("#xSum").val(sum);
        };
    </script>
}