@using Razor.Models
@model StatusReport

@if (Model != null)
{
    <div class="row">
        <div class="col-md">
            <label class="label-text" for="sel-options">Status</label>
        </div>
        <div class="col-md-2">
            <select id="sel-options" class="form-control lable-text">
                <option selected value="Do">Done</option>
                <option value="Done">Done</option>
                <option value="Canceled">Canceled</option>
            </select>
        </div>
    </div>
    <div>
        <h2>@Model.PartialName</h2>
    </div>
}


