@{
    ViewData["Title"] = "Upload File Using jQuery AJAX";
}
<h1>@ViewData["Title"]</h1>
<form id="myForm" method="post" enctype="multipart/form-data" asp-action="UploadFileUsingJQueryAJAX" asp-controller="Home">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" id="txtFirstName" name="txtFirstName" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" id="txtLastName" name="txtLastName" /></td>
        </tr>
        <tr>
            <td>Photo:</td>
            <td><input type="file" id="photo" name="postedFile" /></td>
        </tr>
        <tr>
            <td>Photo:</td>
            <td><input type="button" value="Submit" onclick="AjaxFormSubmit();" /></td>
        </tr>
    </table>
</form>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnAdd').click(function () {
                var customerId = $('#txtCustomerId').val();
                var name = $('#txtName').val();
                var country = $('#txtCountry').val();

                //Get the reference of the Table's TBODY element
                var tBody = $('#tblCustomers > tbody')[0];

                //Add Row.
                var row = tBody.insertRow(-1);

                //Add CustomerId cell
                var cell = $(row.insertCell(-1));
                cell.html(customerId);

                //Add Name cell
                var cell = $(row.insertCell(-1));
                cell.html(name);

                //Add Country cell
                cell = $(row.insertCell(-1));
                cell.html(country);

                //Add Remove Button cell
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input />");
                btnRemove.attr("type", "button");
                btnRemove.attr("onclick", "Remove(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                //Clear the TextBoxes
                $('#txtCustomerId').val('');
                $('#txtName').val('');
                $('#txtCountry').val('');
            });
        });

        function Remove(button) {
            // Determine the reference of the row the button being clicked
            var row = $(button).closest('tr');
            var customerId = $('td', row).eq(0).text();
            var confirmResult = confirm('Are you sure to delete customer details with id: ' + customerId);
            if (confirmResult) {
                //Get the reference of the table
                var tblCustomers = $('#tblCustomers')[0];
                var rowIndex = row[0].rowIndex;
            }
        }

        $('#btnSave').click(function () {
            //Loop through the table rows and build a JSON array
            var customers = [];
            $('#tblCustomers tbody tr').each(function () {
                var row = this;
                customerId = row.cells[0].textContent;
                name = row.cells[1].textContent;
                country = row.cells[2].textContent;
                customers.push({ CustomerId: customerId, Name: name, Country: country });
            });

            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Home/InsertCustomers',
                data: JSON.stringify(customers),
                dataType: 'json',
                success: function (response) {

                },
                error: function (err) {

                }
            });
        });
    </script>
}