@model Student
<form>
    <div class="form-group col-md-4">
    <label asp-for="Id" class="control-label"></label>
        <select id="studentname" asp-for="Id" asp-items="ViewBag.student" class="form-control">
        <option value="">--Please Select--</option>
    </select>
    <span asp-validation-for="Id" class="text-danger"></span>
</div>
<div class="form-group col-md-4">
    <label asp-for="Amount" class="control-label"></label>
        <input id="amount" asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
</div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#studentname").change(function () {
                var struId = $(this).find("option:selected").val();
                if (struId != "") {
                    $.ajax({
                        type: "POST",
                        url: "/Home/Show?id=" + struId,
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (response != "") {
                                $('#amount').val(response.amount);
                            }
                            else {
                                $('#amount').val('');
                            }
                        }
                    });
                } else {
                    $('#amount').val('');
                }
            });
        });
    </script>
}
