@model Employee
<form method="post">
    <div class="row">
        <div class="col-sm">
            <select asp-for="Employees" asp-items="ViewBag.Employees" class="form-control">       </select>
        </div>
        <div class="col-sm">
            <select name="Employees" asp-items="ViewBag.Employees" class="form-control">       </select>
        </div>
        
    </div>
    <button type="submit">Submit</button>
</form>