<form id="myForm" method="post" enctype="multipart/form-data" asp-action="UploadFileUsingJQueryAJAX" asp-controller="Home">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" id="txtFirstName" name="txtFirstName" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" id="txtLastName" name="txtLastName" /></td>
        </tr>
        <tr>
            <td>Photo:</td>
            <td><input type="file" id="photo" name="postedFile" /></td>
        </tr>
        <tr>
            <td>Photo:</td>
            <td><input type="button" value="Submit" onclick="AjaxFormSubmit();" /></td>
        </tr>
    </table>
</form>

<script>

    function AjaxFormSubmit() {
        var url = $('#myForm').attr('action');
        var firstName = $('#txtFirstName').val();
        var lastName = $('#txtLastName').val();
        var formData = new FormData()
        formData.append("FirstName",firstName);
        formData.append("LastName", lastName);
        formData.append("Photo", $('#photo')[0].files[0]);

        SubmitForm(formData);
    }

    function SubmitForm(FormData) {
        $.ajax({
            type: 'POST',
            url: '/Home/UploadFileUsingJQueryAJAX',
            data: FormData,
            dataType: 'json',
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (response) {
                console.log(response.responseText);
                if (response.status == "success") {
                    //alert("File : " + response.filename + " is uploaded successfully");
                    console.log(response.responseText);
                }
            },
            error: function (err) {
                alert("Error occurs" + err.responseText);
            }
        });
    }
</script>